@use './variables.scss';
@use './transition.scss';
@use './reset.scss';
@use './carousel.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

body {
  display: flex;

  background: var(--vt-c-black);
  color: var(--vt-c-gray-400);

  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  transition:
    color var(--vt-transition-delay),
    background-color var(--vt-transition-delay);
}

#app {
  display: flex;
  flex-direction: column;
  padding: 7rem 1rem 4rem 1rem;

  @media (min-width: 1024px) {
    padding: 2rem;
  }
}

main {
  flex: 1;
  padding: 0 1rem;

  @media (min-width: 1024px) {
    padding: 0;
  }
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    background: var(--vt-c-gray-800);
    border-radius: 100px;

    ul {
      display: flex;
      align-items: center;
    }

    @media (min-width: 1024px) {
      padding: 1rem 1.5rem;
    }
  }
}

section {
  padding: 3.5rem 0;

  @media (min-width: 1024px) {
    padding: 7rem 2rem;
  }
}

h1 {
  color: var(--vt-c-white);
  font-size: 32px;

  @media (min-width: 1024px) {
    font-size: 75px;
  }
}

p,
span,
button,
a {
  font-size: 16px;
}

@media (min-width: 1024px) {
  a,
  button {
    font-size: 20px;
  }
  p,
  span {
    font-size: 24px;
  }
}

.social-icon {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  @media (min-width: 1024px) {
    padding: 0.5rem;
  }

  img {
    width: 20px;
    aspect-ratio: 1;
    filter: contrast(0.4);

    @media (min-width: 1024px) {
      width: 25px;
    }
  }
}

button {
  background-color: var(--vt-c-white);
  color: var(--vt-c-gray-900);
  font-family: 'Nunito';
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 100px;
  border: unset;
  max-width: fit-content;
  cursor: pointer;

  transition: all var(--vt-transition-delay);

  &:hover {
    scale: 1.05;
  }
}

a {
  text-decoration: none;
  color: var(--vt-c-purple-300);
  transition: var(--vt-transition-delay);

  &:hover {
    color: var(--vt-c-purple-600);
    img {
      transition: all var(--vt-transition-delay);
      scale: 1.1;
    }
  }
}

.router-link-active {
  color: var(--vt-c-white);

  &:hover {
    color: var(--vt-c-white);
  }
}

.border-gradient {
  position: relative;
  border-radius: 12px;
}

.border-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1.5px;
  background: var(--vt-c-gray-gradient);
  -webkit-mask:
    linear-gradient(var(--vt-c-white) 0 0) content-box,
    linear-gradient(var(--vt-c-white) 0 0);
  mask:
    linear-gradient(var(--vt-c-white) 0 0) content-box,
    linear-gradient(var(--vt-c-white) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
