.products-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-family: 'Nunito';

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    flex-direction: column;
    min-width: 220px;
    min-height: 190px;

    @media (min-width: 1024px) {
      min-width: 400px;
      min-height: 277px;
    }

    .image-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      img {
        height: 68px;
        aspect-ratio: 1;

        @media (min-width: 1024px) {
          height: 96px;
        }
      }

      span {
        font-size: 16px;
        font-weight: 700;

        @media (min-width: 1024px) {
          font-size: 24px;
        }
      }
    }
  }
}
